[submodule ".registry"]
	path = .registry
	url = https://github.com/bczernecki/universe
	shallow = true
	branch = HEAD
[submodule "thundeR"]
	path = thundeR
	url = https://github.com/bczernecki/thunder
	shallow = true
	registered = true
[submodule "climate"]
	path = climate
	url = https://github.com/bczernecki/climate
	shallow = true
	registered = true
