[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "climate"]
	path = climate
	url = https://github.com/bczernecki/climate
	shallow = true
	registered = true
