[submodule ".registry"]
	path = .registry
	url = https://github.com/bczernecki/bczernecki.r-universe.dev
	branch = HEAD
[submodule "climate"]
	path = climate
	url = https://github.com/bczernecki/climate
[submodule "thunder"]
	path = thunder
	url = https://github.com/bczernecki/thunder
